<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подтверждение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
    .confirm{
        font-size: large;
    }
    .btn{
        border: 2px solid black;
    }
</style>

<body>

<h3 style="padding-top: 10px; text-align: center">Вы хотите добавить эту задачу в список?</h3>
<div style="text-align: center">
    <p class="btn"><a class="confirm" href="/" >Да</a></p>
    <p class="btn"><a href="/add">Нет, вернуться к To Do</a></p>
</div>


</body>
</html>