<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>In Progress</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <link type="text/css" href="static/css/index.css" th:href="@{static/css/index.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<style>
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .item{
        border: 2px solid black;
        width: 700px;
        display: flex;
        align-self: center;
        flex-direction: column;
        align-content: center;
        margin-top: 30px;
    }
    .item_data{
        padding-top: 10px;
        padding-left: 15px;
    }

    .add-button{
        text-align: center;
    }

</style>



<body>
<div>
    <a class="cart" href="/main" style="float: left; margin: 10px">
        <button>
            To Do
        </button>
    </a>

    <a class="cart" href="/done" style="float: right; margin: 10px">
        <button>
            Done
        </button>
    </a>
</div>

<div style="text-align: center;"><h1> In Progress</h1></div>


<div class="content">

    <div  th:id="${item.getName()} + -item" th:each="item : ${items}">
        <div class="item">
            <form action="/inProgress" method="get">
                <p class="item_data"  th:text="'Название: ' + ${item.getName()}" ></p>
                <p class="item_data"  th:text="'Описание: ' + ${item.getDescription()}" ></p>
                <p class="item_data"  th:text="'Тип задачи: ' + ${item.getType()}" ></p>
                <p class="item_data"  th:text="'Ответственный: ' + ${item.getResponsible()}" ></p>
            </form>
            <button style="background-color: grey; border-color: black" class="btn btn-sm add-in-cart-btn" th:id="${item.getId()}" th:attr="data-item-id=${item.getId()}">Переместить в Done</button>
        </div>

    </div>
</div>





<script>
    $(".add-in-cart-btn").click((e) => {
        var btn = $(e.currentTarget);
    var itemId = btn.attr("data-item-id");
    btn.css({
        'color': 'grey'
    });

    btn.attr("disabled", "disabled");
    $.post("/add/" + itemId + "/done", () => {
    });
    });


</script>
</div>
</body>
</html>